
 

 

  

  .expense .amount {
    color: red;
  }


 .transfer {
    background-color: rgb(224, 232, 252) !important;
  }

  .income {
    background-color: rgb(195, 221, 177)!important;
  }

  .income .amount {
    color:green;
  }



  .clickable {
    cursor: pointer
  }

  .footer {
    margin-top: 2rem
  }

  #own-amount {
    color: red
  }

  #shared-amount {
    color: green
  }

  table small {
    display: block;
  }