
  .transfer {
    background-color: rgba(45, 55, 192, 0.5) !important;
    font-weight: bold
  }

  .income {
    background-color: rgba(72, 153, 18, 0.5) !important;
    font-weight: bold
  }

  .expense .amount {
    color: red;
  }



  .clickable {
    cursor: pointer
  }

  .footer {
    margin-top: 2rem
  }

  #own-amount {
    color: red
  }

  #shared-amount {
    color: green
  }

  table small {
    display: block;
  }