{{define "detailedview"}}

<dl>
    <dt>UUID</dt>
    <dd class="small">{{.UUID}}</dd>
    <dt>Date Created</dt>
    <dd title="{{.DateCreated.Format "02/01/2006T15:04:05" }}">{{.DateCreated.Format "02/01/06" }}</dd>
    <dt>Date</dt>
    <dd title="{{.Date.Format "02/01/2006T15:04:05" }}">{{.Date.Format "02/01/06" }}</dd>
    <dt>Who</dt>
    <dd>{{.Who }}</dd>
    <dt>Description</dt>
    <dd>{{.Description }}</dd>
    <dt>Amount</dt>
    <dd class="amount">{{FormatDecimal .Amount }}</dd>
    <dt>Method</dt>
    <dd>{{.Method.Name }}</dd>
    <dt>Shared</dt>
    <dd>{{if ne .Type 1}}<input type="checkbox" disabled="disabled" {{if .Shared}} checked="checked" {{end}} />{{else}}-{{end}}</dd>
    <dt>Quota</dt>
    <dd>{{if .Shared}} {{.ShareQuota}}% {{else}} - {{end}}</dd>
    <dt>Category</dt>
    <dd>{{.Category.Name }}</dd>
    <dt>Type</dt>
    <dd>{{.Type }}</dd>
    <dt>In Sheet</dt>
    <dd><input type="checkbox" disabled="disabled" {{if .InSheet}} checked="checked" {{end}} /></dd>
</dl>

{{end}}