{{define "form"}}


{{$e := .Expense}}

    <form action="{{Prefix}}{{if $e}}/update/{{else}}/add/{{end}}" method="POST">
      <fieldset>
       
      {{if $e}}
        <!-- UUID -->
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="UUID">UUID</label>
        </div>
        <input type="text" class="form-control" name="UUID" value="{{$e.UUID}}" required readonly/>
      </div>

        <!-- Date Created-->
      <div class="input-group mb-3">
          <div class="input-group-prepend">
        <label class="input-group-text" for="DateCreated">Created on</label>
          </div>
          <input class="form-control" type="datetime-local" name="DateCreated" value="{{$e.DateCreated.Format "2006-01-02T15:04" }}" readonly/>
      </div>
      {{end}}
      

      <!-- Type -->
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="Type">Type</label>
        </div>
          <select class="custom-select" name="Type" id="type-select" readonly>
            <option value="0" {{if $e}}{{if eq $e.Type 0}}selected{{end}}{{end}}>Expense</option>
            <option value="1" {{if $e}}{{if eq $e.Type 1}}selected{{end}}{{end}}>Transfer</option>
          </select>
      </div>

      

      
        <!-- Date -->
        <div class="input-group mb-3">
            <div class="input-group-prepend">
          <label class="input-group-text" for="Date">When</label>
            </div>
            <input class="form-control" type="date" name="Date" value="{{if $e}}{{$e.Date.Format "2006-01-02" }}{{else}}{{ Now "2006-01-02" }}{{end}}" />
        </div>

        <!-- User -->
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                  <label class="input-group-text" for="Who">Who</label>
                  </div>
                    <select class="custom-select" name="Who">
                      {{range $user := .Users}}
                      <option value="{{$user}}" {{if $e}}{{if eq $user $e.Who}} selected {{end}}{{end}}>{{$user}}</option>
                      {{end}}
                    </select>
                </div>


        <!-- Amount -->
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="Amount">Amount</label>
            </div>
          
            <input class="form-control" type="number" step="0.01" name="Amount" placeholder="0.00" {{if $e}}value="{{FormatDecimal $e.Amount}}"{{end}} required/>

            <div class="input-group-append">
                <span class="input-group-text">€</span>
              </div>

          
        </div>

        <!-- Description -->
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="Description">Description</label>
          </div>
          <input type="text" class="form-control" name="Description" placeholder="Something..." {{if $e}}value="{{$e.Description}}"{{end}} required/>
          
        </div>

        <!-- Payment Method -->
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="MethodID">Method</label>
              </div>
            <select class="custom-select" name="MethodID">
              {{range $pm := .PaymentMethods}}
              <option value="{{$pm.ID}}" {{if $e}}{{if eq $pm.ID $e.Method.ID}} selected {{end}}{{end}}>{{$pm.Name}}</option>
              {{end}}
            </select>
        </div>

        <!-- Sharing -->

        
          <div class="input-group">  
            <div class="input-group-prepend">
              <label class="input-group-text" for="Shared">Shared</label>
              <div class="input-group-text">
              <input type="checkbox" name="Shared" id="shared-input"  {{if $e}}{{if $e.Shared }}checked{{end}}{{end}}/>
              </div>
            </div>
            <input class="form-control" type="range" min="1" max="100" name="ShareQuota"
            value="{{if $e}}{{if not $e.Shared}}50{{else}}{{$e.ShareQuota}}{{end}}{{else}}50{{end}}" {{if $e}}{{if not $e.Shared}}disabled{{end}}{{end}} {{if not $e}}disabled{{end}} id="sharequota-input" />
          </div>

            <div class="input-group mb-3">
              <input class="form-control" type="number" step="any"  id="sharedamount1" {{if $e}}{{if not $e.Shared}}disabled{{end}}{{end}} {{if not $e}}disabled{{end}}/>
              <input class="form-control" type="number" step="any" id="sharedamount2" {{if $e}}{{if not $e.Shared}}disabled{{end}}{{end}} {{if not $e}}disabled{{end}}/>
            </div>

        <!-- Categories -->
         <!-- Categories -->
         <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="CategoryID">Category</label>
        </div>
            <select class="custom-select" name="CategoryID" id="category-select">
              {{range $cat := .Categories}}
              <option value="{{$cat.ID}}" {{if $e}}{{if eq $cat.ID $e.Category.ID}} selected {{end}}{{end}}>{{$cat.Name}}</option>
              {{end}}
            </select>
        </div>
       

        <!-- Sheet -->
        <input type="hidden" name="InSheet" value="on" />
       

        <!-- Buttons -->
        <div class="form-group mb-3 text-right">

            {{if $e}}
            <a class="btn btn-success" href="{{Prefix}}/sheet/add/{{$e.UUID}}" {{if $e.InSheet}} onclick="return confirm('dte item is already set to be in sheet. Are you sure you want to continue?');"
            {{end}}>To Sheet</a>

            <a class="btn btn-danger" href="{{Prefix}}/delete/{{$e.UUID}}" onclick="return confirm('Are you sure you want to delete this item?');">Delete</a>
            {{end}}
            <button type="reset" class="btn btn-secondary">Cancel</button>
        
            <button type="submit" class="btn btn-primary">Submit</button>

            
            
        </div>


      </fieldset>
    </form>


{{end}}