{{define "form"}}


{{$t := .Transaction}}

    <form action="{{Prefix}}{{if $t}}/update/{{else}}/add/{{end}}" method="POST">
      <fieldset>
       
      {{if $t}}
        <!-- UUID -->
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="UUID">UUID</label>
        </div>
        <input type="text" class="form-control" name="UUID" value="{{$t.UUID}}" required readonly/>
      </div>

        <!-- Date Created-->
      <div class="input-group mb-3">
          <div class="input-group-prepend">
        <label class="input-group-text" for="DateCreated">Created on</label>
          </div>
          <input class="form-control" type="datetime-local" name="DateCreated" value="{{$t.DateCreated.Format "2006-01-02T15:04" }}" readonly/>
      </div>
      {{end}}
      

      <!-- Type -->
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="Type">Type</label>
        </div>
          <select class="custom-select" name="TypeID" id="type-select" readonly>
            {{range $type := .Types}}
                <option value="{{$type.ID}}" {{if $t}}{{if eq $type.ID $t.Type.ID}} selected {{end}}{{end}}>{{$type.Name}}</option>
            {{end}}
          </select>
      </div>

      

      
        <!-- Date -->
        <div class="input-group mb-3">
            <div class="input-group-prepend">
          <label class="input-group-text" for="Date">When</label>
            </div>
            <input class="form-control" type="date" name="Date" value="{{if $t}}{{$t.Date.Format "2006-01-02" }}{{else}}{{ Now "2006-01-02" }}{{end}}" />
        </div>

        <!-- User -->
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                  <label class="input-group-text" for="User">User</label>
                  </div>
                    <select class="custom-select" name="UserID">
                      {{range $user := .Users}}
                      <option value="{{$user.ID}}" {{if $t}}{{if eq $user.ID $t.User.ID}} selected {{end}}{{end}}>{{$user.Name}}</option>
                      {{end}}
                    </select>
                </div>


        <!-- Amount -->
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="Amount">Amount</label>
            </div>
          
            <input class="form-control" type="number" step="0.01" name="Amount" placeholder="0.00" {{if $t}}value="{{FormatDecimal $t.Amount}}"{{end}} required/>

            <div class="input-group-append">
                <span class="input-group-text">€</span>
              </div>

          
        </div>

        <!-- Description -->
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="Description">Description</label>
          </div>
          <input type="text" class="form-control" name="Description" placeholder="Something..." {{if $t}}value="{{$t.Description}}"{{end}} required/>
          
        </div>

        <!-- Payment Method -->
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="MethodID">Method</label>
              </div>
            <select class="custom-select" name="MethodID">
              {{range $pm := .PaymentMethods}}
              <option value="{{$pm.ID}}" {{if $t}}{{if eq $pm.ID $t.Method.ID}} selected {{end}}{{end}}>{{$pm.Name}}</option>
              {{end}}
            </select>
        </div>

        <!-- Sharing -->

        
          <div class="input-group">  
            <div class="input-group-prepend">
              <label class="input-group-text" for="Shared">Shared</label>
              <div class="input-group-text">
              <input type="checkbox" name="Shared" id="shared-input"  {{if $t}}{{if $t.Shared }}checked{{end}}{{end}}/>
              </div>
            </div>
            <input class="form-control" type="range" min="1" max="100" name="ShareQuota"
            value="{{if $t}}{{if not $t.Shared}}50{{else}}{{$t.ShareQuota}}{{end}}{{else}}50{{end}}" {{if $t}}{{if not $t.Shared}}disabled{{end}}{{end}} {{if not $t}}disabled{{end}} id="sharequota-input" />
          </div>

            <div class="input-group mb-3">
              <input class="form-control" type="number" step="any"  id="sharedamount1" {{if $t}}{{if not $t.Shared}}disabled{{end}}{{end}} {{if not $t}}disabled{{end}}/>
              <input class="form-control" type="number" step="any" id="sharedamount2" {{if $t}}{{if not $t.Shared}}disabled{{end}}{{end}} {{if not $t}}disabled{{end}}/>
            </div>

        <!-- Categories -->
         <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="CategoryID">Category</label>
        </div>
            <select class="custom-select" name="CategoryID" id="category-select">
              {{range $cat := .Categories}}
              <option value="{{$cat.ID}}" {{if $t}}{{if eq $cat.ID $t.Category.ID}} selected {{end}}{{end}}>{{$cat.Name}}</option>
              {{end}}
            </select>
        </div>
       
        <!--Position-->
        <div class="input-group mb-3">
          <div class="input-group-prepend">
        <label class="input-group-text" for="GeoLoc">Position</label>
          </div>
          <input class="form-control" type="text" id="position" name="GeoLoc" value="-" readonly/>
      </div>
       

        <!-- Buttons -->
        <div class="form-group mb-3 text-right">

            {{if $t}}
            
            <a class="btn btn-danger" href="{{Prefix}}/delete/{{$t.UUID}}" onclick="return confirm('Are you sure you want to delete this item?');">Delete</a>
            {{end}}
            <button type="reset" class="btn btn-secondary">Cancel</button>
        
            <button type="submit" class="btn btn-primary">Submit</button>

            
            
        </div>


      </fieldset>
    </form>


{{end}}