{{define "header"}} 
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MoneyTracker</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
    $(
      function(){
        $('#shared-input').change(function() {
          $('#sharequota-input').prop('disabled',!$(this).prop('checked'))
      });
    });
    </script>
  </head>
  <body>


 

<header>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 titles">
        <h2>Money Tracker</h2>
      </div>
    </div>
  </div>

</header>

<div class="container">
<div class="row">
  <div class="col-md-12">
  
    
 {{end}}

