{{define "index"}}

{{template "header" .}}
<form action="/add/" method="POST">
  <input class="form-control" type="date" name="Date"/>
  <select class="form-control" name="WhoID" >
      {{range $user := .Users}}
        <option value="{{$user.ID}}">{{$user.Name}}</option>
      {{end}}
  </select>
  <input class="form-control" type="text" name="Description" placeholder="Description"/>
  <input class="form-control" type="number" step="0.01" name="Amount" value="0"/>
  <select class="form-control" name="MethodID">
      {{range $pm := .PaymentMethods}}
        <option value="{{$pm.ID}}">{{$pm.Name}}</option>>
      {{end}}
  </select>
  <input class="form-control" type="checkbox" name="Shared" id="shared-input"/>
  <input class="form-control" disabled="disabled" type="number" step="5" min="0" max="100" name="ShareQuota" value="50" id="sharequota-input"/>
  <select class="form-control" name="CategoryID">
      {{range $cat := .Categories}}
        <option value="{{$cat.ID}}">{{$cat.Name}}</option>>
      {{end}}
  </select>
  <button type="submit" class="btn btn-primary">Add</button>
  <button type="reset" class="btn btn-warning">Cancel</button>
  
  </form>

<table class="table table-striped">
  <thead>
      <th>Date</th>
      <th>Who</th>
      <th>Description</th>
      <th>Amount</td>
      <th>Method</th>
      <th>Shared</th>
      <th>Quota</th>
      <th>Category</th>
  </thead>
  <tbody>
      {{range $expense := .Expenses}}
      <tr>
        <td>{{$expense.Date.Format "02/01/2006" }}</td>
        <td>{{$expense.Who.Name }}</td>
        <td>{{$expense.Description }}</td>
        <td>{{formatDecimal $expense.Amount }}</td>
        <td>{{$expense.Method.Name }}</td>
        <td><input type="checkbox" disabled="disabled"  {{if $expense.Shared}} checked="checked" {{end}}/></td>
        <td>{{if $expense.Shared}} {{$expense.ShareQuota}}% {{else}} - {{end}}</td>
        <td>{{$expense.Category.Name }}</td>
        <td>
          <div class="pull-right">
            <a href="/delete/?uuid={{$expense.UUID}}" class="btn btn-danger">Delete</a>
          </div>
        </td>
      </tr>
    {{end}}
  </tbody>
</table>


{{template "footer" .}} 

{{end}}


