{{define "table"}}

<table class="table table-striped">
    <thead>
      <th>Date</th>
      <th class="text-center">User</th>
      <th>Description</th>
      <th class="text-right">Amount</td>
      <th class="text-center">Method</th>
      <th class="text-center">Category</th>
    </thead>
    <tbody>
      {{range $t := .Transactions}}
      <tr data-href="{{Prefix}}/view/{{$t.UUID}}" class="clickable {{ToLower $t.Type.Name}}">
        <td>{{$t.Date.Format "02/01/2006" }}</td>
        <td class="text-center">{{$t.User.Name }}</td>
        <td>{{$t.Description }}</td>
        <td class="text-right amount"><small>{{AutoFormatDec $t.Amount }} - {{AutoFormatDec $t.SharedQuota }}=</small>{{AutoFormatDec ( SubDec $t.Amount $t.SharedQuota ) }}&euro;</td>
        <td class="text-center">{{$t.PaymentMethod.Name }}</td>
        <td class="text-center">{{$t.Category.Name }}</td>
      </tr>
      {{end}}
    </tbody>
  </table>

  {{end}}