{{define "updateform"}}


    <form action="/update/" method="POST">
      <fieldset>
        <!-- UUID -->
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="UUID">UUID</label>
        </div>
        <input type="text" class="form-control" name="UUID" value="{{.UUID}}" required readonly/>
      </div>

        <!-- Date Created-->
      <div class="input-group mb-3">
          <div class="input-group-prepend">
        <label class="input-group-text" for="DateCreated">Created on</label>
          </div>
          <input class="form-control" type="datetime-local" name="DateCreated" value="{{.DateCreated.Format "2006-01-02T15:04" }}" readonly/>
      </div>
      

      <!-- Type -->
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="Type">Type</label>
        </div>
          <select class="custom-select" name="Type" id="type-select" readonly>
            <option value="0" {{if eq .Type 0}}selected{{end}}>Expense</option>
            <option value="1" {{if eq .Type 1}}selected{{end}}>Transfer</option>
          </select>
      </div>

      

      
        <!-- Date -->
        <div class="input-group mb-3">
            <div class="input-group-prepend">
          <label class="input-group-text" for="Date">When</label>
            </div>
            <input class="form-control" type="date" name="Date" value="{{.Date.Format "2006-01-02" }}" />
        </div>

        <!-- User -->
        <input type="hidden" name="Who" value="{{.Who}}" />


        <!-- Amount -->
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="Amount">Amount</label>
            </div>
          
            <input class="form-control" type="number" step="0.01" name="Amount" value="{{FormatDecimal .Amount}}" required/>

            <div class="input-group-append">
                <span class="input-group-text">€</span>
              </div>

          
        </div>

        <!-- Description -->
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="Description">Description</label>
          </div>
          <input type="text" class="form-control" name="Description" placeholder="Something..." value="{{.Description}}" required/>
          
        </div>

        <!-- Payment Method -->
        <input type="hidden" name="MethodID" value="{{.Method.ID }}" />

        <!-- Sharing -->

        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="Shared">Shared</label>
              <div class="input-group-text">
              <input type="checkbox" name="Shared" id="shared-input"  {{if .Shared }}checked{{end}}/>
              </div>
            </div>
            <input class="form-control" type="number" min="0" max="100" name="ShareQuota"
            value="{{if not .Shared}}50{{else}}{{.ShareQuota}}{{end}}" {{if not .Shared}}disabled{{end}} id="sharequota-input" />
        </div>

        <!-- Categories -->
        <input type="hidden" name="CategoryID" value="{{.Category.ID }}" />
       

        <!-- Sheet -->
        <input type="hidden" name="InSheet" value="on" />
       

        <!-- Buttons -->
        <div class="form-group mb-3 text-right">
          
            <button type="reset" class="btn btn-secondary">Cancel</button>
        
            <button type="submit" class="btn btn-primary">Submit</button>
            
        </div>


      </fieldset>
    </form>


{{end}}